<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--在 Configuration 这个类中可以看到需要改的属性 -->
    <settings>
        <setting name="safeRowBoundsEnabled" value="true"/>
        <setting name="cacheEnabled" value="false"/>
        <setting name="useGeneratedKeys" value="true"/>
    </settings>

    <!--  给类取别名  不是必要的 -->
    <!--<typeAliases>-->


    <!--</typeAliases>-->

    <!--<plugins>-->
        <!--<plugin interceptor=""></plugin>-->
    <!--</plugins>-->
    <!---->
    <!--<typeHandlers>-->
        <!--<typeHandler handler=""/>-->
    <!--</typeHandlers>-->


</configuration>
















































